html {
  scrollbar-width: thin;
  scrollbar-color: rgb(17, 96, 120) rgb(25, 180, 228);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
:root {
  color-scheme: light dark;
}

.carte{
  background-image: linear-gradient(rgb(25, 180, 228), rgb(0, 119, 255));
  width: 80%;
  margin: 2%;
  border-radius: 20px;
}
.anime{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.texte1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.titre{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texte2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin: auto;
  padding: 0;
}


#titre_synopsis{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

footer#footer{
  border-top: solid;
  border-image:linear-gradient(to right,rgb(25, 180, 228), rgb(0, 119, 255)) 10;
  width: 100%;
  display: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 10em;
}

.footer_elements{
  position: relative;
  top: 3em;
}
header{
  border-bottom: solid;
  width: 100%;
  border-image:linear-gradient(to right,rgb(25, 180, 228), rgb(0, 119, 255)) 10;
  
}
#titre{
  text-align: center;
  background: linear-gradient(to right, rgb(25, 180, 228), rgb(0, 119, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#envoyer{
  border-radius: 20px;
  border-style:none;
  font-size: 15px;
  margin-right: 1%;
  padding: 1%;
  text-align: center;
  background-image: linear-gradient(rgb(25, 180, 228), rgb(0, 119, 255));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#envoyer:active{
  box-shadow: 2px 2px 5px #0127fc;
}
#envoyer:hover{
  background-image: linear-gradient(rgb(11, 151, 194), rgb(1, 92, 196))
}
#effacer{
  border-radius: 20px;
  border-style: none;
  font-size: 15px;
  margin-right: 1%;
  padding: 1%;
  text-align: center;
  background-image: linear-gradient(rgb(25, 180, 228), rgb(0, 119, 255));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#effacer:hover{
  background-image: linear-gradient(rgb(11, 151, 194), rgb(1, 92, 196))
}
#effacer:active{
  box-shadow: 2px 2px 5px #0127fc;
}


#rechercher{

  padding: 1%;
  width: 20%;
  margin-right: 1%;
  border: 2px solid rgb(25, 180, 228);
  border-radius: 20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#rechercher:active{
  box-shadow: 2px 2px 5px #0127fc;
}

#form{
  width: 100%;
  height: 20%;
}


#api-label{
  margin: 20px;
}

.carte#classement_label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.carte#classement{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#changement_mode{
  font-size: 20px;
  border-style: none ;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(rgb(25, 180, 228), rgb(0, 119, 255));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#changement_mode:hover{

  background-image: linear-gradient(rgb(11, 151, 194), rgb(1, 92, 196))
}

.bouton{
  cursor: pointer;
}

#changement_mode:active{
  box-shadow: 2px 2px 5px #0127fc;
}
select {
	background-image: linear-gradient(rgb(25, 180, 228), rgb(0, 119, 255));
  padding: 1%;
	border-radius: 20px;
  border-style: none;
  margin-right: 1%;
  text-align: center;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select:hover{
  background-image: linear-gradient(rgb(11, 151, 194), rgb(1, 92, 196));
}
select:active{
  box-shadow: 2px 2px 5px #0127fc;
}
#github{
  border: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 20px;

}
.bouton-genre{
  cursor: pointer;
  width: 100%;
}

#genre{
  display:inline-block;
  max-width: 200px;
  max-height: 100px;
  overflow-y: auto;
  position: absolute;
  border-radius: 8px;
  background-color: rgb(25, 180, 228);

}



.genre-element{
  display: flex;
  width: 100%;
  background-color: rgb(25, 180, 228) ;
  border: 0px
  

}

.genre-element:hover{
  display: flex;
  background-color: rgb(18, 136, 172) ;

}

.champs-de-texte{
  padding: 1%;
  width: 20%;
  margin-right: 1%;
  border: 2px solid rgb(25, 180, 228);
  border-radius: 20px;
  font-size: 15px;
}

.inline{
  display: inline;
}