.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carte{
  background-color: grey;
  width: 50%;
  margin: 2%;
  border-radius: 20px;
}